/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/

body {
	/* Ajout personnel pour maintenir le footer en bas de page 
	et baclground fidel à la maquette */
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	background-color: #FFFEF8;
	/* Fin ajout personnel */

	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

main{
	flex-grow: 1;
	width: 100%;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
	
	/* Ajout personnel  */
	width: 100%;
	/* Fin ajout personnel */

}

section {
	margin: 50px 0;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;

}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
	cursor: pointer;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	/* margin-bottom: 1em; */
	margin-bottom: 50px;
}

#portfolio p{
	margin-bottom: 50px;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

#contact, #connexion {
	width: 50%;
	margin: auto;
}

#contact > * , #connexion > *{
	text-align: center;
}

#contact h2, #connexion h2{
	margin-bottom: 20px;
}

#contact form, #connexion form, .secondModal form{
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input, #connexion input, .modal input, .secondModal select{
	/* ajout personnel pour mieux respecter les boutons de la maquette */
	height: 36px;
	font-size: 0.875em;
	/* Fin ajout personnel */

	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label, #connexion label, .secondModal label {
	margin: 2em 0 1em 0;
}

#contact textarea{
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#connexion a {
	border-bottom: 1px solid;
}

.connexiontLinks{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 28px;
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;

	/* ajout personnel pour mieux respecter les boutons de la maquette */
	margin : 2.5em auto ;
	cursor: pointer;
	/* Fin ajout personnel */
	
	/* margin : 2em auto ; */
	width: 31.5%;
	/* width: 180px; */
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 20px 28px;
}

/******************************************/
/*********** Ajouts personnels ************/
/******************************************/

footer{
	width: 100vw;
	background-color: #FFFFFF;
}

/* Reset */
a{
	text-decoration: none;
	color: inherit;
}

/*******************************************/
/*********** section portfolio ************/
.pojectTitle{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	padding-top: 90px;
}

.gallery figcaption{
	padding-top: 7px;
}


/*****************************************/
/*********** Barre de filtre ************/
.filter{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 0 0 50px 0 ;
}

.filterBtn{
	background-color: transparent;
	color: #1D6154;
	border-radius: 60px;
	border: 1px solid #1D6154;
	font-family: Syne;
	font-size: 16px;
	cursor: pointer;
}

.filterBtnLarge{
	padding: 10px 12px;
}

.filterBtnSmall{
	padding: 10px 25px;
}

.active{
	background-color: #1D6154;
	color: #FFFFFF;
	border-radius: 60px;
	border: 1px solid #1D6154;
	font-family: Syne;
	font-size: 16px;
	cursor: pointer;
}

/**********************************************************************/
/*********** Modification d'éléments sur la page de login ************/
.titleLoginPage{
	cursor: pointer;
}

.onLoginPage{
	font-weight: bold;
}

/* message d'erreur de login */
.errorMessage{
	display: none;
	justify-content: center;
	gap: 15px;
	padding: 20px;
	margin-top: 20px;
	border: 3px dashed red;
	color: red;
	font-weight: bold;
}

/*******************************************************************************/
/*********** Modification d'éléments sur la page d'acceuil d'admin ************/

/* Top barre noire page d'édition */
.adminTop{
	/* width: 1440px; */
	width: 100vw;
	height: 59px;
	display: none;
	justify-content: center;
	align-items: center;
	gap: 11px;
	background-color: #000000;
	color: #FFFFFF;
}

/* Bouton modifier */
.modifyProject{
	display: flex;
	display: none;
	gap: 10px;
	cursor: pointer;
}

/**********************************************/
/*********** Style pour la modale ************/
.modalBackground{
    /* display: flex; */
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.35);
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
	box-sizing: border-box;
    width: 630px;
	height: 670px;
    padding: 26px 30px 45px 30px;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 10px;
    z-index: 1;
}

.modalTop{
	display: flex;
	justify-content: flex-end;
}

.modalTop i{
	cursor: pointer;
}

#modalArrowIcon{
	display: none;
}

.modalTitle {
	font-family: Work Sans;
	font-size: 26px;
	padding-top: 17px;
}

.modalGallery{
	padding: 46px 75px 67px 75px;
	overflow: auto;
	height: 370px;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 8px;
	grid-row-gap: 24px;
}

.modalGallery img {
	width: 100%;
} 

.modalGallery figure{
	position: relative;
}

.modalGallery .trashcanIcon{
	position: absolute;
	top: 0.3em;
    right: 0.2em;
	cursor: pointer;
}

.firstModal{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.secondModal{
	display: none;
}

.modalform{
	padding: 36px 75px 0 75px;
}

.addPhotoBox, .photoInputFile{
	background-color: #E8F1F6;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 169px;
}

.addPhotoBox i{
	color: #B9C5CC;
	font-size: 5.3em;
	padding: 17px 0 9px 0;
}

.addPhotoBox label{
	margin: 0;
	width: 173px;
	height: 36px;
	font-size: 0.875em;
	border-radius: 50px;
	color: #306685;
	background-color: #CBD6DC;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.addPhotoBox input[type=file]{
	display: none;
}

.addPhotoBox p {
	color: #444;
	font-size: 10px;
	padding: 7px 0 15px 0;
}

.addPhotoBox img{
	width: 129px;
	height: 169px;
	cursor: pointer;
}

.secondModal form{
	margin-top:0;
}

.modal input, .secondModal select{
	box-sizing: border-box;
	height: 51px;
}

.secondModal option[value=""]{
	display: none;
}

.separator{
	border: 1px solid #B3B3B3;
	width: 420px;
}

.modal input[type="submit"]{
	height: 36px;
	width: 41.7%;
}

#categories{
	margin-bottom: 47px;
}

#validate{
	width: 56.5%;
	background-color: #A7A7A7;
	color: #FFFFFF;
}


/* Fin ajout personnel */